.home {
    width: 100%;
    height: 100vh;
    background-color: #C2FFD0;
}
.home_pigip{
    position: absolute;
    width: 150%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start{
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}
.p5{
    display: block;
    position: absolute;
    z-index: 5;
}
.btn_start{
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 6;
    font-size: 40px;
    font-weight: 900;
}
.circle_start{
    position: relative;
    width: 20vh;
    height: 20vh;
    top: 25%;
    left: 50%;
    background-color: #FDFDEB;
    transform: translate(-50%, 0);
    border-radius: 50%;
    text-align: center;
    border: solid 3px #E5D391;
}
.circle_signin{
    position: relative;
    width: 20vh;
    height: 20vh;
    top: 35%;
    left: 50%;
    background-color: #FDFDEB;
    transform: translate(-50%, 0);
    border-radius: 50%;
    text-align: center;
    border: solid 3px #E5D391;
}
.incircle{
    position: relative;
    transform: translate(2.5%, 2.5%);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: dotted 3px #E5D391
}
.text_start{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.home_tap{
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-17%, 0);
    color: #378D4B;
    font-size: 30px;
    font-weight: 900;

}