.footer {
  margin: 0;
    
}
.footer_box{
    width        : 100%;
    height       : 85px;
    background   : #FFFFFF;
    top :auto;
    bottom: 0;
    position: absolute;
}

/* .sharexpense_icon_home{
    width: 90px;
    height: auto;
    left: 0;
    top: 0;
    bottom: 0;

} */
.sharexpense_icon_input{
    position: absolute;
    width: 90px;
    height: auto;
    left: 10%;
    top: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sharexpense_icon_display{
    width: 90px;
    height: auto;
    position: absolute;
    left: 37%;
    top: 8%;
    bottom: 13%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sharexpense_icon_friend{
    width: 90px;
    height: auto;
    position: absolute;
    left: 65%;
    top: 2%;
    bottom: 12%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  