.display{
    z-index: 5;
    top: 0%;
    width: 100%;
    height: 820px;
    position: absolute;
}
.calendar{
    z-index: 8;
    position: absolute;
    top: 33%;
    width: 100%;
}
.displayexpense{
    z-index: 8;
    position: absolute;
}
.line_height{
    line-height: 1.5rem;
}
